In [2]:
a = 10
print(a)

10

In [4]:
a = 5                      #int 
b = 5.5                    #float 
c = "Hello"                #string #str
d = True                   #boolean #bool 

print(a)
print(b)
print(a,b,c,d)

5
5.5
5 5.5 Hello True

In [5]:
#1a = 10 Variables start with an alphabet
a_ = 10 #only underscore is accepted in special characters when defining variables
hello = 10
hello_world = 10
#No spacing when you define variables

In [6]:
#type() #Function to check the data type of variables
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
a = 'Hello World'  #Ways to define String
b = "Hellow World"
c = '''Hellow World'''

In [10]:
a = '12'
print(a)
print(type(a))
b = "ABC#$ '"
print(b)
print(type(b))
c = '''AHGS_34 "'''
print(c)
type(c)

12
<class 'str'>
ABC#$ '
<class 'str'>
AHGS_34 "

str

In [11]:
#Operators
# + - * / ** // %

In [14]:
a = 10
b = 20
c = a + b
print('Addition =',c)
print(c)

Addition = 30
30

In [15]:
a = 10
b = 3
c = a ** b # Exponentiation - A power B
print(c)

1000

In [16]:
a = 10
b = 3
c = a / b # Division
d = a // b #Floor Division - Only takes whole number
print(c)
print(d)

3.3333333333333335
3

In [17]:
a = 10
b = 3
c = a % b #Modulus - Remainder
print(c)

1

In [18]:
pwd # Path for your file saved

'C:\\Users\\USER\\Python_Class'

In [2]:
#float
#+ - * / ** // %

In [4]:
a ="Hello "
b = "World"
c = a + b #String Concatination
print(c)

Hello World

In [7]:
a = "Hello World"
b = "Hello World\n" #\n - Line Break
print(a*2)          
print(b*2)

Hello WorldHello World
Hello World
Hello World

In [9]:
name = "Dan"
info = "Hello World I am " + name
info

'Hello World I am Dan'

In [11]:
#bool

a = True
b = False
c = a + b
c

1

In [12]:
a = True
b = False
c = a * b
c

0

In [18]:
#Complex Number (+ - * /) j = (-1)**(1/2)
a = 2 + 3j
type(a)

complex

In [22]:
a = "10"
b = "20"
c = a + b
c

'1020'

Type Casting

In [23]:
# int() float() bool() str()

In [26]:
#string to integer
a = "10"
b =int(a)
b

10

In [27]:
#str to float
a = "10.5"
b = float(a)
b

10.5

In [28]:
#int to str
a = 10
b = str(a)
b

'10'

In [29]:
#float to str
a = 20.5
b = str(a)
b

'20.5'

In [30]:
a = 1  
bool(a)

True

In [31]:
b = 0 #Only the value 0 shows False when converted to Boolean
bool(b)

False

In [33]:
a = "Hello" #askkey concept
b = ""
bool(a)

True

Basic IO Operation

In [35]:
a = input()
print(a)

Hi
Hi

In [37]:
a = input("Enter a = ") #input is by default defined as string
print(a)

Enter a = 13.2
13.2

In [38]:
a = int(input("Enter the value ")) #Type Casting int
print(a)

Enter the value 20
20

In [39]:
a = float(input("Enter value"))
print(a)

Enter value10.22
10.22

In [2]:
name = input("Enter name ")
age = int(input("Enter age "))
address = input("Enter address ")
info = "Hello I am " + name + " I am from " + address + " I am " + str(age)
print(info)

Enter name Dan
Enter age 10
Enter address Kathmandu
Hello I am Dan I am from Kathmandu I am 10

In [3]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100
print("The value of i = ", i) #Simple Interest

Enter p = 1000
Enter t = 2.5
Enter r = 10
The value of i =  250.0

IF Condition

In [1]:
# if  <codition>:
#     <operation>

# elif <condition>:
#     <operation>
# ...

# else:
#     <operation>

In [3]:
# < > <= >= == != Comparision Operators

In [5]:
a =  10
print(a>20)
print(a<20)

False
True

In [7]:
a = int(input("Enter the value of a = "))
if a>=0:
    print(a, " is positive")
else:
    print(a," is negative")

Enter the value of a = -3
-3  is negative

In [9]:
a = int(input("Enter the value of a = "))
if a%2==0:
    print(a," is an even number")
    
else:
    print(a, " is an odd number")

Enter the value of a = 3
3  is an odd number

In [11]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a>b:
    print(a, " is greater than ", b)
elif b>a:
    print(b, " is greater than ", a)
else:
    print("Both are equal")

Enter a = 10
Enter b = 20
20  is greater than  10

In [15]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or / = ")
if o=="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/":
    print(a/b)
else:
    print("Invalid Input")

Enter a = 10
Enter b = 20
Enter + or - or * or / = +
30

In [18]:
a = int(input("Enter the marks of Physics = "))
b = int(input("Enter the marks of Chemistry = "))
c = int(input("Enter the marks of Maths = "))
d = int(input("Enter the marks of English = "))
e = int(input("Enter the marks of Nepali = "))
g = ((a+b+c+d+e)/500)*100  #g=(a+b+c+d+e)/5
print("Percentage is ", g)
if g>=80:
    print("A")
elif g>=60:
    print("B")
elif g>=45:
    print("C")
else:
    print("F")

Enter the marks of Physics = 80
Enter the marks of Chemistry = 80
Enter the marks of Maths = 80
Enter the marks of English = 80
Enter the marks of Nepali = 80
Percentage is  80.0
A

In [20]:
# Logical Operators(AND &,OR |,NOT)

In [24]:
a = int(input("Enter the marks of Physics = "))
b = int(input("Enter the marks of Chemistry = "))
c = int(input("Enter the marks of Maths = "))
d = int(input("Enter the marks of English = "))
e = int(input("Enter the marks of Nepali = "))
g = ((a+b+c+d+e)/500)*100  #g=(a+b+c+d+e)/5
if a>=32 and b>=32 and c>=32 and d>=32 and e>=32:
    t = a+b+c+d+e
    p=t/5

    if g>=80:
        grade = "A"
        
    elif g>=60:
        grade = "B"
    elif g>=45:
        grade = "C"
    elif g>=32:
        grade = "D"
    else:
        grade = "F"
    print("Total = ",t)
    print("Percentage = ",p)
    print("Grade = ",grade)
else:
    print("Fail")

Enter the marks of Physics = 32
Enter the marks of Chemistry = 32
Enter the marks of Maths = 32
Enter the marks of English = 32
Enter the marks of Nepali = 32
Total =  160
Percentage =  32.0
Grade =  D

In [26]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or / = ")
if o=="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/" and b!=0:
    print(a/b)
elif o=="/" and b==0:
    print("The value of b cannot be zero")
else:
    print("Invalid Input")

Enter a = 10
Enter b = 0
Enter + or - or * or / = /
The value of b cannot be zero

In [27]:
a = int(input("Enter the marks of Physics = "))
b = int(input("Enter the marks of Chemistry = "))
c = int(input("Enter the marks of Maths = "))
d = int(input("Enter the marks of English = "))
e = int(input("Enter the marks of Nepali = "))
g = ((a+b+c+d+e)/500)*100  #g=(a+b+c+d+e)/5
print("Percentage is ", g)
if g>80 or g==80:
    print("A")
elif g>60 or g==60:
    print("B")
elif g>45 or g==45:
    print("C")
elif g>32 or g==32:
    print("D")
else:
    print("F")

Enter the marks of Physics = 50
Enter the marks of Chemistry = 50
Enter the marks of Maths = 50
Enter the marks of English = 50
Enter the marks of Nepali = 50
Percentage is  50.0
C

LOOP

In [1]:
# Loop          #Recursion
# For Loop
# While Loop

In [2]:
#for loop

In [5]:
# range(5) #0,1,2,3,4     #Only Integer is accepted
# range(1,5) #1,2,3,4
# range(1,10,2) # 1,3,5,7,9  #for(i=1;i<10;i=i+2)

In [7]:
for i in range(1,5):
    print(i, "Hello")

1 Hello
2 Hello
3 Hello
4 Hello

In [8]:
for i in range(1,5):
    print(i,"Hello")

1 Hello
2 Hello
3 Hello
4 Hello

In [12]:
for i in range(1,10,2):
    print(i,"Hello")

1 Hello
3 Hello
5 Hello
7 Hello
9 Hello

In [11]:
a = int(input("Enter any number = "))
for i in range(1,11):
    b = a * i
    print(b)

Enter any number = 2
2
4
6
8
10
12
14
16
18
20

In [13]:
for i in range(5,0,-1): #5,4,3,2,1
    print(i,"Hello")

5 Hello
4 Hello
3 Hello
2 Hello
1 Hello

In [14]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [16]:
n = int(input("Enter n = "))
for i in range(1,11):
#     print(i*n)
    a = i * n
    print(n, " *", i, " =", a )

Enter n = 5
5  * 1  = 5
5  * 2  = 10
5  * 3  = 15
5  * 4  = 20
5  * 5  = 25
5  * 6  = 30
5  * 7  = 35
5  * 8  = 40
5  * 9  = 45
5  * 10  = 50

In [18]:
for i in range(2):
    x = int(input("Enter x = "))
    print(x)

Enter x = 10
10
Enter x = 20
20

In [22]:
s = 0
for i in range(5):
    x = int(input("Enter x = "))
    s = s + x
print(s)

Enter x = 1
Enter x = 1
Enter x = 1
Enter x = 1
Enter x = 1
5

In [23]:
for i in range(5):
    x = input("Enter Name: ")
    print(x)

Enter Name: Da
Da
Enter Name: sa
sa
Enter Name: sa
sa
Enter Name: sa
sa
Enter Name: ds
ds

In [9]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name: ")
    s = s + x + "\n"
    print(s)

Enter n = 3
Enter name: Ram
Ram

Enter name: Shyam
Ram
Shyam

Enter name: Hari
Ram
Shyam
Hari

In [12]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name: ")
    phone = input("Enter number: ")
    s = s+ name + " " + phone + "\n"
print(s)

Enter n = 3
Enter name: Ram
Enter number: 1245
Enter name: Shyam
Enter number: 323
Enter name: Hari
Enter number: 125
Ram 1245
Shyam 323
Hari 125

In [13]:
# WAP to find factorial 5! = 1*2*3*5
# WAP to make different patterns triangle
# WAP to create a billing system (Product,price,quantity,total,all_total)
#WAP to add and multiply numbers from 1 to 100

In [9]:
# WAP to find factorial 5! = 1*2*3*4*5
s = 1
n = int(input("Enter number n = "))
for i in range(1,n+1):
    s = s * i
    
print("The factorial of",n, "is",s)

Enter number n = 5
The factorial of 5 is 120

In [17]:
#WAP to add and multiply numbers from 1 to 100
a = 0
b = 1
for i in range(1,101):
    a = a + i
    b = b * i
print("Addition from 1 to 100 =", a)    
print("Multiplication from 1 to 100 =",b)

Addition from 1 to 100 = 5050
Multiplication from 1 to 100 = 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [2]:
# WAP to make different patterns triangle
row = int(input("Enter number of rows for triangle: "))
for i in range(row):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows for triangle: 5
*

* *

* * *

* * * *

* * * * *

In [8]:
# WAP to create a billing system (Product,price,quantity,total,all_total)
n = int(input("Enter number of products: "))
all_total = 0
bill = ""
for i in range(n):
    Product_Name = input("Enter the name of product: ")
    Quantity = int(input("Enter quantity: "))
    Price = int(input("Enter price of the product: "))
    total = Price * Quantity
    data = Product_Name + " " + str(Quantity) + " " + str(Price) + " " + str(total) + "\n"
    bill = bill + data
    all_total = all_total + total
print(bill)    
print("Total Amount =",all_total)

Enter number of products: 2
Enter the name of product: as
Enter quantity: 2
Enter price of the product: 20
Enter the name of product: asd
Enter quantity: 2
Enter price of the product: 20
as 2 20 40
asd 2 20 40


 Total Amount = 80

In [3]:
#String (LOOP)

In [6]:
a = "Python"
for i in a:
    print(i, "Hi")

P Hi
y Hi
t Hi
h Hi
o Hi
n Hi

In [10]:
a = "Hello World I am Python"
for i in a:
    print(i, end="") #END - Horizontollay Print

Hello World I am Python

In [11]:
a = "Hello World I am Python"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

I

a
m

P
y
t
h
o
n

In [12]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i, end = "")

HelloWorldIamPython

In [14]:
a = "Hello World I am Ram. I am from Kathmandu. I am the best"
for i in a:
    if i != ".":
        print(i, end="")

Hello World I am Ram I am from Kathmandu I am the best

While Loop

In [15]:
# while <condition>:
#     <operation>

In [1]:
a = 0                                    #for i in range(5)
while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

In [2]:
a = 1                                     #for i in range(1.5)
while a < 5:
    print(a)
    a = a + 1

1
2
3
4

In [4]:
a = 1                                     #for i in range(1.5,2)
while a < 5:
    print(a, "hi")
    a = a + 2

1 hi
3 hi

In [5]:
a = 0                                     
while a <= 2:
    print(a)
    a = a + 0.5

0
0.5
1.0
1.5
2.0

In [8]:
a = int(input("Enter any number = "))
b = 1
while b<=10:
    c = a * b
    print(a,"*",b,"=",c)   #print(a,"*",b,"=",a*b)
    b = b + 1

Enter any number = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [10]:
s = 0
i = 0
n = int(input("Enter any number = "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i+=1
    print("Total Balance =",s)

Enter any number = 2
Enter x = 100
Total Balance = 100
Enter x = 200
Total Balance = 300

In [2]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name: ")
    phone = input("Enter number: ")
    s = s+ name + " " + phone + "\n"
    i+=1
print(s)

Enter n = 2
Enter name: nids
Enter number: 53
Enter name: sdjs
Enter number: 2355
nids 53
sdjs 2355

In [5]:
# j= 1
# for i in range(5):
#     print(i*"*")

*
**
***
****

In [7]:
i = 5
while i>=0:
    print(i)
    i-=1

5
4
3
2
1
0

In [9]:
# WAP to find factorial 5! = 1*2*3*4*5
s = 1
i = 1
n = int(input("Enter number n = "))
while i<=n:
    s = s * i
    i +=1
print("The factorial of",n, "is",s)

Enter number n = 5
The factorial of 5 is 120

In [11]:
#WAP to add and multiply numbers from 1 to 100
a = 0
b = 1
i = 1
while i <= 100:          # for i in range(1,101): 
    a = a + i
    b = b * i
    i +=1
print("Addition from 1 to 100 =", a)    
print("Multiplication from 1 to 100 =",b)

Addition from 1 to 100 = 5050
Multiplication from 1 to 100 = 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
# WAP to make different patterns triangle
row = int(input("Enter number of rows for triangle: "))
for i in range(row):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

In [2]:
# WAP to create a billing system (Product,price,quantity,total,all_total)
n = int(input("Enter number of products: "))
all_total = 0
i = 1
while i <=n:   #for i in range(n):
    Product_Name = input("Enter the name of product: ")
    Quantity = int(input("Enter quantity: "))
    Price = int(input("Enter price of the product: "))
    total = Price * Quantity
    print("Total = ",total,"\n")
    all_total = all_total + total
    i +=1
print("\n Total Amount =",all_total)

Enter number of products: 2
Enter the name of product: sa
Enter quantity: 2
Enter price of the product: 20
Total =  40

Enter the name of product: sas
Enter quantity: 2
Enter price of the product: 20
Total =  40


 Total Amount = 80

In [4]:
#trianle
n = 5
for i in range(1,n):
    print(i*"o")

o
oo
ooo
oooo

In [5]:
n = 5
for i in range(n,0,-1):       #for i in range(1,n) 
    print(i*"o")              #print((n-1)*" ",i*"O")

ooooo
oooo
ooo
oo
o

# WAP to detect if the given number is prime or composite number

In [11]:
n = int(input("Enter any number = "))
flag = False
if n == 1 or n<=0:
    print("The number is neither prime number nor composite number")
elif n>1:
    for i in range(2,n):      #for i in range(2,n//2+1)
        if (n % i) == 0:
            flag = True
            break     #Control Statement
    if flag == True:
        print(n,"is a composite number.")
    else:
        print(n,"is a prime number")

Enter any number = 11
11 is a prime number

# Control Statement

In [1]:
#break
#continue
#Pass

In [2]:
for i in range(10):  #doesnt continue loop
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [10]:
for i in range(10): #continues loop
    if i == 5:
        continue
    print(i, end=" ")

0 1 2 3 4 6 7 8 9

In [8]:
a = "Hello World I am Python. I am the best"
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World I am Python

In [11]:
for i in range(10): #continues loop
    if i == 5 or i == 8:
        continue
    print(i, end=" ")

0 1 2 3 4 6 7 9

In [14]:
a = "Hello World I am Python. I am the best. &"
for i in a:
    if i == "." or i == "&":
        continue
    print(i, end = "")

Hello World I am Python I am the best

In [1]:
i = 0
while i<=10:  #doesnt continue loop
    if i == 5:
        break       
    print(i)
    i = i+1

0
1
2
3
4

In [4]:
i = 0
while i <=10:
    if i == 5:
        i +=1
        continue
    print(i, end=" ")
    i = i+1

0 1 2 3 4 6 7 8 9 10

In [5]:
for i in range(1,51):
    if i % 5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50