In [1]:
#Date and Time Package

import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-19 08:24:52.886822

In [4]:
x = dt.datetime.now()
print(x.year)
print(x.month)
print(x.day)
print(x.hour)

2023
6
19
8

In [9]:
print(x.strftime("%A"))
print(x.strftime("%a"))
print(x.strftime("%B"))
print(x.strftime("%b"))
print(x.strftime("%C"))
print(x.strftime("%c"))
print(x.strftime("%D"))
print(x.strftime("%d"))

Monday
Mon
June
Jun
20
Mon Jun 19 08:26:05 2023
06/19/23
19

In [13]:
x = dt.datetime.now().second
name = input("Enter name = ")
y = dt.datetime.now().second
print(y-x)

Enter name = Ram
4

In [15]:
x = dt.datetime.now().second
otp = input("Enter otp code = ")
y = dt.datetime.now().second

if y-x < 5:
    print(" Please collect your cash")
else:
    print(f"You took {y-x} seconds","Your time is out")

Enter otp code = 7894
You took 11 seconds Your time is out

In [18]:
#OS Package

import os
os.listdir()

['.ipynb_checkpoints',
 'Basic Function.ipynb',
 'Bonus.ipynb',
 'books.csv',
 'data.csv',
 'data.txt',
 'data1.csv',
 'data1.txt',
 'Dictionary .ipynb',
 'File Handling.ipynb',
 'Functions.ipynb',
 'new_data.csv',
 'OOP.ipynb',
 'Pandas.ipynb',
 'Python Collection (Array).ipynb',
 'SQL.ipynb',
 'String.ipynb']

In [19]:
os.mkdir('New Folder')             #ADD New Directory

In [20]:
os.listdir()

['.ipynb_checkpoints',
 'Basic Function.ipynb',
 'Bonus.ipynb',
 'books.csv',
 'data.csv',
 'data.txt',
 'data1.csv',
 'data1.txt',
 'Dictionary .ipynb',
 'File Handling.ipynb',
 'Functions.ipynb',
 'New Folder',
 'new_data.csv',
 'OOP.ipynb',
 'Pandas.ipynb',
 'Python Collection (Array).ipynb',
 'SQL.ipynb',
 'String.ipynb']

In [21]:
os.chdir('New Folder')     #Change Directory

In [22]:
pwd

'C:\\Users\\USER\\Python_Class\\New Folder'

In [23]:
cd ..

C:\Users\USER\Python_Class

In [24]:
os.rename('New Folder','New_Folder')      #Rename Directory

In [25]:
os.rmdir('New_Folder')                   #Delete Directory

In [26]:
os.listdir()

['.ipynb_checkpoints',
 'Basic Function.ipynb',
 'Bonus.ipynb',
 'books.csv',
 'data.csv',
 'data.txt',
 'data1.csv',
 'data1.txt',
 'Dictionary .ipynb',
 'File Handling.ipynb',
 'Functions.ipynb',
 'new_data.csv',
 'OOP.ipynb',
 'Pandas.ipynb',
 'Python Collection (Array).ipynb',
 'SQL.ipynb',
 'String.ipynb']

In [27]:
# Comprehension: List and Dictionary

In [31]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l = [input("Enter values of i = ") for i in range(5)]
l

Enter values of iRam
Enter values of iShyam
Enter values of iHari
Enter values of iSita
Enter values of iGita

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [32]:
l = ["Apple","Ball","Cat","Dog"]
data = [i.lower() for i in l]
data

['apple', 'ball', 'cat', 'dog']

In [33]:
#Dictionary

In [34]:
l = ["Apple","Ball","Cat","Dog"]
d = {i:i.lower() for i in l}
d

{'Apple': 'apple', 'Ball': 'ball', 'Cat': 'cat', 'Dog': 'dog'}

In [37]:
list(d.values())

['apple', 'ball', 'cat', 'dog']

In [38]:
list(d.items())

[('Apple', 'apple'), ('Ball', 'ball'), ('Cat', 'cat'), ('Dog', 'dog')]

In [39]:
d = {input("Enter Name = "):input("Enter phone = ") for i in range(5)}
d

Enter Name = Ram
Enter phone = 9841256*547
Enter Name = Shyam
Enter phone = 987452156
Enter Name = Sita
Enter phone = 12585247
Enter Name = Gita
Enter phone = 2457522
Enter Name = Hari
Enter phone = 12365478

{'Ram': '9841256*547',
 'Shyam': '987452156',
 'Sita': '12585247',
 'Gita': '2457522',
 'Hari': '12365478'}