In [1]:
# Dictionary (dict) 
#  - Indexing
#  - Multiple and duplicate data
#  - Ordered
#  - Mutable

In [3]:
# d = {}
# d = dict()
# d = {<key>:<value>,<key>:<value>}      Key should always be unique   can be integer float or string

In [7]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [9]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(d['a'])
print(d['c'])

Apple
Cat

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
len(d)         #Length - 4 key values

4

In [12]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','A':'Apple'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Apple'}

In [13]:
# Cant use operators like + *

In [14]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
e = {'d':'Dog'}
d.update(e)    # + Concatination
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple', 'd': 'Dog'}

In [16]:
# Creating Dict
d = {}
d['a']="Apple"
d['b']="Ball"
d['c']="Cat"
d['d']="Dog"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [17]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone 
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 123
Enter name = Shyam
Enter phone = 2365
{'Ram': '123', 'Shyam': '2365'}

In [19]:
d = {'Ram': '123', 'Shyam': '2365'}
for i in d:       #prints only keys
    print(i)

Ram
Shyam

In [20]:
d = {'Ram': '123', 'Shyam': '2365'}
for i in d.values():  #prints only values
    print(i)

123
2365

In [21]:
d = {'Ram': '123', 'Shyam': '2365'}
for i in d.items():   #prints both keys and values
    print(i)

('Ram', '123')
('Shyam', '2365')

In [22]:
d = [['Ram',9803215478],
    ['Shyam',9845632147]]
dict(d)      #Converts into dictioinary

{'Ram': 9803215478, 'Shyam': 9845632147}

In [25]:
#UPDATE
d = {'Ram': 9803215478, 'Shyam': 9845632147}
d['Ram'] = 9800000000     #updates value
d

{'Ram': 9800000000, 'Shyam': 9845632147}

In [26]:
#DELETE     del pop()
d = {'Ram': 9803215478, 'Shyam': 9845632147}
del d['Ram']
d

{'Shyam': 9845632147}

In [29]:
d = {'Ram': 9803215478, 'Shyam': 9845632147}
e = d.pop('Ram')
print(d)
print(e)

{'Shyam': 9845632147}
9803215478

In [30]:
# List inside Dictionary
d = {'Ram':[9865412365,9801236548],'Shyam':[9865412365,9845632174]}      #used for storing multiple value in a key
d

{'Ram': [9865412365, 9801236548], 'Shyam': [9865412365, 9845632174]}

In [31]:
#Insert multiple values 
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc number = ")
    ncell_phone = input("Enter ncell number = ")
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n = 2
Enter name = Ram
Enter ntc number = 9841236541
Enter ncell number = 9803456987
Enter name = Shyam
Enter ntc number = 9849214565
Enter ncell number = 9806214785
{'Ram': ['9841236541', '9803456987'], 'Shyam': ['9849214565', '9806214785']}

In [34]:
info = {'Ram': ['9841236541', '9803456987'], 'Shyam': ['9849214565', '9806214785']}
print(info['Ram'])
print(info['Ram'][1])
print(info['Shyam'][0])

['9841236541', '9803456987']
9803456987
9849214565

In [35]:
#UPDATE #DELETE  - ####

In [37]:
d = {'name':['Ram','Shyam','Hari'],
     'age':[45,55,65],
     'address':['Kathmandu','Bhaktapur','Lalitput']}
print(d)

{'name': ['Ram', 'Shyam', 'Hari'], 'age': [45, 55, 65], 'address': ['Kathmandu', 'Bhaktapur', 'Lalitput']}

In [41]:
d = {'name':[],'age':[],'address':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    d['name'].append(name)
    d['age'].append(age)
    d['address'].append(address)
print(d)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter address = Kathmandu
Enter name = Shyam
Enter age = 55
Enter address = Bhaktapur
{'name': ['Ram', 'Shyam'], 'age': [45, 55], 'address': ['Kathmandu', 'Bhaktapur']}

In [44]:
d = {'name': ['Ram', 'Shyam'], 'age': [45, 55], 'address': ['Kathmandu', 'Bhaktapur']}
print(d['name'][0])
print(d['age'][0])
print(d['address'][0])

Ram
45
Kathmandu

In [48]:
d = {'name': ['Ram', 'Shyam'], 'age': [45, 55], 'address': ['Kathmandu', 'Bhaktapur']}
for i in d['name']:
    print(i)

Ram
Shyam

In [52]:
d = {'name': ['Ram', 'Shyam'], 'age': [45, 55], 'address': ['Kathmandu', 'Bhaktapur']}
c = 0 
for i in d['name']:
    if i == "Ram":
        print(d['name'][c])
        print(d['age'][c])
        print(d['address'][c])
    c = c + 1

Ram
45
Kathmandu