In [ ]:
# #function(two types)
#     Predefined
#     Userdefined

In [ ]:
#Predefined Function
    print() int() float() str() list() tuple() ....

In [2]:
# def <function_name(): #Defining Function 
#     <operations>
# <function_name>()     #Calling Function

In [3]:
def hello():
    print("Hello World")
hello()

Hello World

In [5]:
def volume():
    l = int(input("Enter length = "))     #Local Variable - variables inside a function  
    b = int(input("Enter breadth ="))
    h = int(input("Enter height = "))
    v = l * b* h
    print(v)
volume()

Enter length = 2
Enter breadth =2
Enter height = 2
8

In [11]:
def volume():
    global l,b,h,v                        #Global Variable
        
    l = int(input("Enter length = "))     #Local Variable - variables inside a function  
    b = int(input("Enter breadth ="))
    h = int(input("Enter height = "))
    v = l * b* h
    

volume()

print(l,b,h,v)

Enter length = 2
Enter breadth =2
Enter height = 2
2 2 2 8

In [12]:
l = int(input("Enter length = "))     #Global Variable  
b = int(input("Enter breadth ="))
h = int(input("Enter height = "))


def volume():

        
    v = l * b* h
    print(v)

volume()

print(l,b,h)

Enter length = 2
Enter breadth =2
Enter height = 2
8
2 2 2

In [13]:
# Function without arguments and no return type
# Function with arguments and no return type
# Function without arguments and return type
# Function with arguments and return type

In [15]:
#Function with arguments and no return type

def hello(x):            #x is a parameter
    print(x)

    
hello("Hello World")     #"Hello World" is an argument

Hello World

In [16]:
#Function with arguments and no return type

def volume(x,y,z):      #x,y,z - parameters
    v = x*y*z
    print(v)

l = int(input("Enter length = "))     
b = int(input("Enter breadth ="))
h = int(input("Enter height = "))

volume(l,b,h)           #l,b,h - arguments

Enter length = 2
Enter breadth =2
Enter height = 2
8

In [17]:
def area(x,y):
    a = x*y
    print(a)

def volume(x,y,z):
    v = x*y*z
    print(v)

l = int(input("Enter length = "))     
b = int(input("Enter breadth ="))
h = int(input("Enter height = "))

area(l,b)
volume(l,b,h)

Enter length = 2
Enter breadth =2
Enter height = 2
4
8

In [19]:
def info(name,age,address):
    print(f"Hello World I am {name}. I am from {address}. I am {age}")
    
name = input("Enter name = ")
address = input("Enter address = ")
age = int(input("Enter age = "))

info(name,age,address)

Enter name = Ram
Enter address = Kathmandu
Enter age = 74
Hello World I am Ram. I am from Kathmandu. I am 74

In [21]:
def info(x):
    name,age,address = x
    print(f"Hello World I am {name}. I am from {address}. I am {age}")
    
name = input("Enter name = ")
address = input("Enter address = ")
age = int(input("Enter age = "))
l = [name,age,address]

info(l)

Enter name = Ram
Enter address = Kathmandu
Enter age = 54
Hello World I am Ram. I am from Kathmandu. I am 54

In [23]:
def language(lan = "Python"):
    print(f"I love {lan}")

language("C++")
langugae("C")
langugae("Java")
langugae()

I love C++
I love C
I love Java
I love Python

In [24]:
# Return type function

In [25]:
def hello():
    return "Hello World"

hello()

'Hello World'

In [27]:
def area(l,b):
    a = l*b
    return a

x = area(10,5)
print(x)

50

In [2]:
def area(l,b):
    a = l*b
    return a

l= int(input("Enter l = "))
b= int(input("Enter b = "))
h = int(input("Enter h = "))
x= area(l,b)                       #Function Call
print("The area is ",x)
volume = x * h
print("The volume is",volume)

Enter l = 2
Enter b = 2
Enter h = 5
The area is  4
The volume is 20

In [3]:
def cal(l,b,h):
    a = l*b
    v = a * h
    return a,v

l= int(input("Enter l = "))
b= int(input("Enter b = "))
h = int(input("Enter h = "))
cal(l,b,h)                       #Function Call

Enter l = 2
Enter b = 2
Enter h = 2

(4, 8)

In [2]:
#Basic Calculations using Function
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
def multiply(a,b):
    return a*b
def division(a,b):
    return a/b

def calculation(a,b,o):
    if o=="+":
        print(add(a,b))
    elif o=="-":
        print(subtract(a,b))            #Call Function
    elif o=="*":
        print(multiply(a,b))
    elif o=="/" and b!=0:
        print(division(a/b))
    elif o=="/" and b==0:
        print("The value of b cannot be zero")
    else:
        print("Invalid Input")
    
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or / = ")

calculation(a,b,o)                     #Call Function

Enter a = 5
Enter b = 5
Enter + or - or * or / = +
10

In [3]:
# Recursive Function
#     Function that calls itself

In [4]:
def hello():
    print("Hello World")
    hello()                   #Goes on infinite Loop 

hello()

Hello World
Hello World

In [1]:
def hello():
    print("Hello World")
    x = input("Enter Y for more print ")
    if x == 'Y' or x == 'y':
        hello()

hello()

Hello World
Enter Y for more print y
Hello World
Enter Y for more print y
Hello World
Enter Y for more print y
Hello World
Enter Y for more print y
Hello World
Enter Y for more print as

In [5]:
# Lambda Function
#     anonymous function
#     numerous arguments but only one expression

In [6]:
# Lamdba Function

#     lambda <arguments> : <expression> or <operation>

In [7]:
y = lambda x:x**2
y(3)

9

In [8]:
y = lambda x:(x%2==0)
y(3)

False

In [9]:
area = lambda l,b : l*b
area(10,5)

50

In [10]:
# Filtering
#     filter(boolean condition,list)
#      list(filter(lambda <argument>:<expression>,list))

In [11]:
#Filter
l = [32,45,55,56,84,25,32,66,90,25,65,85,47]
list(filter(lambda x:x%2==0,l))

[32, 56, 84, 32, 66, 90]

In [14]:
l = ["Apple","CAT","DOG","FISH","GOAT"]
list(filter(lambda x:x.isupper(),l))                 #isupper() - Filters Upper Case

['CAT', 'DOG', 'FISH', 'GOAT']

In [18]:
l = ["Apple","CAT","DOG","fISH","GOAT","ant"]
list(filter(lambda x:x[0].islower(),l))             #islower() - Filters lower Case

['fISH', 'ant']

In [19]:
# Map Function
#         list(map(lambda <argument>:<expression>,list))

In [20]:
salary = [222222,4563215,123654,12000,2365410,1222222,10000]
list(map(lambda x:x*1.1,salary))

[244444.2,
 5019536.5,
 136019.40000000002,
 13200.000000000002,
 2601951.0,
 1344444.2000000002,
 11000.0]

In [21]:
salary = [222222,4563215,123654,12000,2365410,1222222,10000]
list(map(lambda x:int(x*1.1),salary))

[244444, 5019536, 136019, 13200, 2601951, 1344444, 11000]

In [22]:
l = ["Apple","CAT","DOG","fISH","GOAT","ant"]
list(map(lambda x:x.lower(),l))                #Convert list into lower case

['apple', 'cat', 'dog', 'fish', 'goat', 'ant']