In [1]:
# Python Collection
# List
# tuple
# dict
# set

In [2]:
# List (Indexing support)
# Multiple Data
# Duplicate Data 
# Mutable Datatype
#Ordered

In [3]:
l = []
l = list()

In [5]:
a = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a[1])     #Indexing - Prints value relative to their position in the list
print(a[0:4])
print(a[0:5:2])

Ball
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [10]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]    #duplicate  Data
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [12]:
a=[1,2,3]       #Both the variable should be a list to concatenate
b = [2]
c = a + b
print(c)

[1, 2, 3, 2]

In [15]:
a = [1,2,3]     #One variable should be an integer to multiply
b = 2
print(a*b)

[1, 2, 3, 1, 2, 3]

In [17]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
print(l)

Enter n = 5
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
[1, 2, 3, 4, 5]

In [21]:
l = [1, 2, 3, 4, 5]
print("The maximum value is ", max(l))
print("The minimum value is ", min(l))
print("The sum of l is ", sum(l))

The maximum value is  5
The minimum value is  1
The sum of l is  15

In [22]:
l.sort()  #ascending order
print(l)

[1, 2, 3, 4, 5]

In [23]:
l.reverse()  #descending order
print(l)

[5, 4, 3, 2, 1]

In [25]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [26]:
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat
Dog
Fish
Apple

In [28]:
a = ["Ram", "Shyam", "Hari", "Sita", "Gita", "Nabin", "Ramesh"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [29]:
# WAP to search any values in a list have case insensitive

In [30]:
# Add Values
# append() insert() extend()

# Delete values
# del remove() pop()

In [32]:
#append()
a = [1,2,3,4,5]
a.append("Apple")
a.append("Ball")
print(a)

[1, 2, 3, 4, 5, 'Apple', 'Ball']

In [33]:
#insert()
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
a.insert(3,"Can")
print(a)

['Apple', 'Ball', 'Cat', 'Can', 'Dog', 'Fish']

In [35]:
#extend()
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
b = [1,2,3,4,5]
a.extend(b)   #values of b to a 
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5]

In [36]:
#update
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [37]:
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
a[0:2] = ["apple", "ball"]
print(a)

['apple', 'ball', 'Cat', 'Dog', 'Fish']

In [ ]:
#Delete
# del remove() #pop()

In [1]:
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [2]:
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
del a[0:3]
print(a)

['Dog', 'Fish']

In [6]:
#remove()
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [8]:
a = ['Apple', 'Ball',"Cat", "Dog", "Fish","Apple"]      #Duplicate values
c = a.count("Apple")
for i in range(c):
    a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [10]:
#pop()
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]
a.pop(0)
a

['Ball', 'Cat', 'Dog', 'Fish']

In [11]:
a = ['Apple', 'Ball',"Cat", "Dog", "Fish"]      #Can store the value in another variable through pop()
b = a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'Dog', 'Fish']
Apple

In [18]:
#list inside List
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a[0])
print(a[0][1])
print(a[1][2])
print(a[2][2])

[1, 2, 3]
2
6
9

In [20]:
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur']]
print(a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 50, 'Lalitpur'], ['Hari', 89, 'Bhaktapur']]

In [21]:
a=[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    info = [name,age,address]
    a.append(info)                   #a.append([name,age,address])
print(a)

Enter n = 2
Enter name = Ram
Enter age = 50
Enter address = Kathmandu
Enter name = Shyam
Enter age = 30
Enter address = Bhaktapur
[['Ram', 50, 'Kathmandu'], ['Shyam', 30, 'Bhaktapur']]

In [3]:
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]
for i in a:
    print(i)
    print(i[0])

['Ram', 45, 'Kathmandu']
Ram
['Shyam', 50, 'Lalitpur']
Shyam
['Hari', 89, 'Bhaktapur']
Hari
['Ram', 20, 'Chitwan']
Ram

In [4]:
#Search
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]

name = input("Enter name = ")
for i in a:
    if i[0] == name:     #if the index is known
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 20, 'Chitwan']

In [5]:
#Search
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]

name = input("Enter name = ")
for i in a:
    if name in i:     #Without index
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ram', 20, 'Chitwan']

In [13]:
#Case insensitive
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]

name = input("Enter name = ")
b = name.lower()
for i in a:
    c = i[0].lower()
    if c == b:                    #i[0].lower() = name.lower()
        print(i)

Enter name = RaM
['Ram', 45, 'Kathmandu']
['Ram', 20, 'Chitwan']

In [18]:
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]
a.append(['Nabin',34,"Jhapa"])
a

[['Ram', 45, 'Kathmandu'],
 ['Shyam', 50, 'Lalitpur'],
 ['Hari', 89, 'Bhaktapur'],
 ['Ram', 20, 'Chitwan'],
 ['Nabin', 34, 'Jhapa']]

In [ ]:
a = [['Ram',45,'Kathmandu'],
     ['Shyam',50,'Lalitpur'],
     ['Hari',89,'Bhaktapur'],
    ['Ram',20,'Chitwan']]
c = 0
name = input("Enter name = ")
for i in a:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1
print("Total number of records =",c)

In [2]:
#UPDATE
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 50, 'Lalitpur'],
     ['Hari', 89, 'Bhaktapur'],
     ['Ram', 20, 'Chitwan'],
     ['Nabin', 34, 'Jhapa']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 45, 'Kathmandu'],
 ['Shyam', 50, 'Lalitpur'],
 ['Hari', 89, 'Bhaktapur'],
 ['Ram', 20, 'Chitwan'],
 ['Nabin', 34, 'Jhapa']]

In [4]:
#Delete    
a = [['Ram', 45, 'Kathmandu'],
     ['Shyam', 50, 'Lalitpur'],
     ['Hari', 89, 'Bhaktapur'],
     ['Ram', 20, 'Chitwan'],
     ['Nabin', 34, 'Jhapa']]
del a[0]   
a

[['Shyam', 50, 'Lalitpur'],
 ['Hari', 89, 'Bhaktapur'],
 ['Ram', 20, 'Chitwan'],
 ['Nabin', 34, 'Jhapa']]

In [ ]:
#WAP to create a matrix having no of rows and columns