In [1]:
# import mysql.connector
# database = mysql.connector.connect(
#             host = "localhost"
#             user = "root"
#             password = ""
# )

# db = database.cursor()

# #db.execute("Create DATABASE PYTHON")

In [3]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import mysql.connector
database = mysql.connector.connect(
            host = "localhost",
            user = "root",
            password = "",
            database = "python"     #DATABASE NAME
)

db = database.cursor()

In [4]:
# select in database

db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 60, 60, 60, 60, 60, 300, 60.0, 'C')
(2, 'Shyam', 65, 65, 65, 65, 65, 325, 65.0, 'C')

In [9]:
# select in database

db.execute("SELECT * FROM student WHERE Grade = 'A'")
result = db.fetchall()
for x in result:
    print(x)

(3, 'Hari', 80, 80, 80, 80, 80, 400, 80.0, 'A')

In [11]:
#INSERT IN DATABASE

sql = '''Insert into student (Name, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade)
          VALUES('Sita','80','80','80','80','80','400','80','A'); '''

db.execute(sql)
database.commit()

In [12]:
# WAP to entry all data in student table taking value as input form user