In [1]:
#immutable datatype
a = "Hellow World I am Python"
b = 'Hellow World I am Python'
c = '''Hellow World I am Python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [9]:
# + * 
a = "Hello "
b = "World"
c = a + b
d = a *  2
print(c)
print(d)

Hello World
Hello Hello

In [10]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [18]:
a = "Hello World I am Python"
print(a[0])
print(a[0:8])   #String Slicing
print(a[0:20:2])    # 0:20:2 Start with 0 till 20 increment by 2

H
Hello Wo
HloWrdIa y

In [21]:
a = "Hello World I am Python"
print(a[-1])   #negative starts with right side of the string
print(a[-3])
print(a[-1:-15:-2])

n
h
nhy aId

In [22]:
a = "Python"
print(a[-1:-7:-1])

nohtyP

In [23]:
a = "Hello World I am Python"
print(a[::-1])

nohtyP ma I dlroW olleH

In [24]:
a = "434"  #Use this for Palindrome
print(a[::-1])

434

In [25]:
a = "Hello World I am Python"
b = a[0:5]
print(b)

Hello

In [35]:
a = "Hello World I am Python"
l = len(a) #len() - count length
print(l)
for i in range(l):
    print(a[i], end="")

23
Hello World I am Python

In [38]:
a = "Hello World I am Python"
l = len(a)
i = 0
while i<l:
    print(a[i], end="")
    i+=1

Hello World I am Python

In [46]:
a = "Hello World I am Python"
l = len(a)
#b = 0
for i in range(l):
    if a[i] == " ":
        print(i)
        #b = b + 1
#print(b)

5
11
13
16

In [50]:
#String Formatting
name = "Ram"
age = 78
add = "Kathmandu"

info = "Hello World I am " + name + " I am from " + add + "I am " + str(age)
print(info)

Hello World I am Ram I am from KathmanduI am 78

In [52]:
#String Formatting       f"<Text> {Variable}"
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = Ram
Enter age = 54
Enter address = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 54.

In [54]:
# WAP to create a billing system (Product,price,quantity,total,all_total)
n = int(input("Enter number of products: "))
all_total = 0
bill = ""
for i in range(n):
    Product_Name = input("Enter the name of product: ")
    Quantity = int(input("Enter quantity: "))
    Price = int(input("Enter price of the product: "))
    total = Price * Quantity
    data = f"{Product_Name} {Quantity} {Price} {total} \n"      #String Formatting
    bill = bill + data
    all_total = all_total + total
print(bill)    
print("Total Amount =",all_total)

Enter number of products: 2
Enter the name of product: sas
Enter quantity: 2
Enter price of the product: 20
Enter the name of product: asa
Enter quantity: 2
Enter price of the product: 20
sas 2 20 40
asa 2 20 40

Total Amount = 80

# Search in String

In [61]:
a = "Ram Shyam Hari Sita Gita Nabin"
if 'Ram' in a:
    print("Yes, there is.")
else:
    print("No")

Yes, there is.

In [63]:
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
name = input("Enter name = ")
if name in a:
    print("Yes, there is ",name)
    print(a.count(name))
else:
    print("No")

Enter name = Ram
Yes, there is  Ram
1

In [66]:
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
print(a.upper())
print(a.lower())

RAM SHYAM HARI GITA SITA NABIN RAMESH
ram shyam hari gita sita nabin ramesh

In [68]:
a = "Ram Shyam Hari Gita Sita Nabin Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes, there is ",name)
    print(a.count(name))
else:
    print("No")

Enter name = ram
Yes, there is  ram
2

In [78]:
#replace()
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
print(a.replace("Ram","Rama"))

Rama Shyam Hari Gita Sita Nabin Ramaesh

In [77]:
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
print(a.replace("Ram ","Rem "))

Rem Shyam Hari Gita Sita Nabin Ramesh

In [76]:
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
print(a.replace("Shyam",""))

Ram  Hari Gita Sita Nabin Ramesh

In [84]:
# isupper() islower() title()
a = "Ram Shyam Hari Gita Sita Nabin Ramesh"
a.title()

'Ram Shyam Hari Gita Sita Nabin Ramesh'